.about {
  width: 40%;
}
@media (max-width: 800px) {
  .about {
    width: 80%;
    text-align: center;
    margin: 50px auto;
  }
}
.about p {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
.about p:first-of-type {
  font-size: 15px;
}
.about p:last-of-type {
  font-size: 12px;
}
.about h2 {
  font-family: "gilroy-extrabolduploaded_file";
  font-size: 40px;
  padding: 10px 0 30px;
}
@media (max-width: 767px) {
  .about h2 {
    font-size: 25px;
  }
}
.about button {
  border: none;
  outline: none;
  width: calc(50% - 20px);
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  text-transform: capitalize;
  margin: 20px 10px 20px 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.about button:first-of-type {
  background-color: var(--moov-color);
  color: white;
}
.about button:last-of-type {
  border: 1px solid var(--grey-color);
  color: var(--bold-color);
}
