header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 30%;
  color: var(--moov-color);
  font-family: "gilroy-extrabolduploaded_file";
  font-size: 20px;
  display: flex;
  align-items: center;
  z-index: 1001;
}
@media (max-width: 991px) {
  header .logo.active {
    color: white;
  }
}
@media (max-width: 767px) {
  header .logo {
    width: fit-content;
  }
}
header .shapes {
  padding-right: 30px;
}
@media (max-width: 767px) {
  header .shapes {
    padding-right: 10px;
  }
}
header .logo span {
  display: block;
  width: 20px;
  height: 8px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin: 16px 0;
}
@media (max-width: 767px) {
  header .shapes span {
    margin: 10px 0;
  }
}
header .logo span:first-child {
  background-color: var(--yellow-color);
}
header .logo span:nth-child(2) {
  background-color: var(--moov-color);
}
header .logo span:last-child {
  background-color: var(--red-color);
  width: 13px;
  transform: translateX(-7px);
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  -o-transform: translateX(-7px);
}
header ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 991px) {
  header ul {
    display: none;
  }
  header ul.active {
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    background-color: var(--bold-color);
    padding-top: 100px;
    z-index: 1000;
  }
}
header ul a {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--bold-color);
}
@media (max-width: 991px) {
  header ul.active li {
    padding: 20px;
  }
  header ul.active a {
    color: white;
  }
}
header .menu {
  cursor: pointer;
  z-index: 1001;
}
@media (min-width: 992px) {
  header .menu {
    display: none;
  }
}
header .menu span {
  display: block;
  width: 20px;
  height: 4px;
  background-color: var(--green-color);
  margin: 5px 0;
}
