footer {
  padding: 20px 0;
  background-color: var(--bold-color);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copy span {
  color: var(--moov-color);
}
footer .top {
  cursor: pointer;
}
