* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --green-color: #4cd5c5;
  --red-color: #f40051;
  --grey-color: #6b6a7e;
  --white-color: #f5f5f5;
  --bold-color: #0b093b;
  --yellow-color: #f2b300;
  --green-light-color: #c4ffff;
  --moov-color: #7620ff;
}
body {
  color: var(--bold-color);
}
section {
  padding: 50px 0;
}
.container {
  width: 80%;
  margin: auto;
  padding: 0 15px;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    width: 99%;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
